
<md-dialog aria-label="">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools" style="background: rgba(19, 35, 47, 0.9)" >
                <h2>Neophyte App</h2>
                <span flex></span>

            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>Neophyte is a place where you will find very outstanding mentors easily.</h2>
                <p>
                    Mentoring is a process for the informal transmission of knowledge, social capital, and the psychosocial support perceived by the recipient as relevant to work, career, or professional development; mentoring entails informal communication, usually face-to-face and during a sustained period of time, between a person who is perceived to have greater relevant knowledge, wisdom, or experience (the mentor) and a person who is perceived to have less (the protégé)"
                </p>

                <img style="margin: auto; max-width: 100%;" alt="Lush mango tree" src="img/mentorship.jpg">

                <p>
                    Mentoring in Europe has existed since at least Ancient Greek times. Since the 1970s it has spread in the United States mainly in training contexts, with important historical links to the movement advancing workplace equity for women and minorities, and it has been described as "an innovation in American management".
                </p>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">

            <span flex></span>
            <md-button ng-click="cancel()">
                Close
            </md-button>

        </md-dialog-actions>
    </form>
</md-dialog>

