
<md-dialog aria-label="">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools" style="background: rgba(19, 35, 47, 0.9)" >
                <h2>Neophyte App</h2>
                <span flex></span>

            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>Do you want to contact us?</h2>
                <p>
                    Mentoring in Europe has existed since at least Ancient Greek times. Since the 1970s it has spread in the United States mainly in training contexts, with important historical links to the movement advancing workplace equity for women and minorities, and it has been described as "an innovation in American management".
                </p>

                <div class="form-group">
                    <br/>
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                        <p>
                            +2519191919
                        </p>
                    </div>

                    <md-divider></md-divider>
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-laptop"></i></span>
                        <p>
                            contact@neophyteapp.com
                        </p>
                    </div>

                    <md-divider></md-divider>
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-facebook"></i></span>
                        <p>
                            www.facebook.com/neophyteapp
                        </p>
                    </div>

                    <md-divider></md-divider>
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-google"></i></span>
                        <p>
                            neophyte@gmail.com
                        </p>
                    </div>

                    <md-divider></md-divider>
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
                        <p>
                            www.twitter.com/neophyteapp
                        </p>
                    </div>

                </div>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">

            <span flex></span>
            <md-button ng-click="cancel()">
                Close
            </md-button>

        </md-dialog-actions>
    </form>
</md-dialog>

