<nav class="navbar-default navbar-static-side" role="navigation" ng-controller="LogInCtrl">
    <div class="sidebar-collapse ">
        <ul side-navigation class="nav metismenu" id="side-menu">

            <li class="nav-header center" >
                <md-button class="md-raised md-fab">{{user_stage}}</md-button>

                <p style="color: #ffffff"> Welcome, {{user_name}} </p>
            </li>



            <li ui-sref-active="active" >
                <a ui-sref="neophyte.news"><i class="fa fa-male"></i> <span class="nav-label">News</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="neophyte.mentee"><i class="fa fa-male"></i> <span cl    ass="nav-label">Published Articles</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="neophyte.profile"><i class="fa fa-laptop"></i> <span class="nav-label">Unpublished Articles</span> </a>
            </li>
        </ul>

    </div>
</nav>